# Config file for FOAM control software
# Comments begin with hashes,
# variables must not contain spaces, as do the variables

WFS_COUNT = 1 gaasdjaj lkajsd j'"A 'a
WFC_COUNT = 2
WFC_NACT[0] = 2
WFC_NACT[1] = 37
WFC_NAME[0] = TT
WFC_NAME[1] = DM

WFS_DF[0] = wfs_dark.dat
WFS_FF[0] = wfs_ff.dat
WFS_NAME[0] = SH-WFS
WFS_RES[0] = {256,256}
WFS_CELLS[0] = {10,10}

CS_LISTEN_IP = 0.0.0.0
CS_LISTEN_PORT = 10000

CS_INFOFILE = infolog
CS_DEBUGFILE = debuglog
CS_ERRFILE = errlog

# EOF
