# Config file for FOAM control software

### General configuration

# Prefix for this specific setup
prefix = hwtest
listenip = 0.0.0.0
listenport = 1025
use_syslog = false
# Optional syslog prefix
syslog_prepend = foam
# Use this as output directory, either a relative or absolute path, leave 
# empty for default system entry
datadir = ./
# Optional logfile, "" for no logfile, either absolute path or relative to
# <datadir>
logfile = dummylog
# Optional pidfile, either relative to <datadir> or absolute
pidfile = /tmp/foam-hwtest.pid

### Devices begin here

simcam.type = dev.cam.SimulCam
# Camera parameters
#simcam.width = 512
#simcam.height = 512
#simcam.depth = 8
# Seeing parameters
#simcam.windspeed.x = 16
#simcam.windspeed.y = 16
#simcam.windtype = linear
simcam.wavefront_file = ../data/wavefront-crop.fits
# SHWFS parameters
simshwfs.type = dev.wfs.shwfs


# EOF
