# Config file for FOAM control software

### General configuration

# Prefix for this specific setup
prefix = hwtest
listenip = 0.0.0.0
listenport = 1025
use_syslog = false
# Optional syslog prefix
syslog_prepend = foam
# Use this as output directory, either a relative or absolute path, leave 
# empty for default system entry
# datadir = 
# Optional logfile, "" for no logfile, either absolute path or relative to
# <datadir>
logfile = dummylog
# Optional pidfile, either relative to <datadir> or absolute
pidfile = /tmp/foam-hwtest.pid

### Devices begin here

1394testcam.type = dev.cam.FW1394cam
1394testcam.iso_speed = 400
1394testcam.video_mode = VIDEO_MODE_640x480_MONO8
1394testcam.width = 640
1394testcam.height = 480
1394testcam.depth = 8
1394testcam.framerate = 7.5

# EOF
