# Config file for FOAM control software

### General configuration

# Prefix for this specific setup
prefix = hwtest
listenip = 0.0.0.0
listenport = 1025
use_syslog = false
# Optional syslog prefix
syslog_prepend = foam
# Use this as output directory, either a relative or absolute path, leave 
# empty for default system entry
datadir = ./
# Optional logfile, "" for no logfile, either absolute path or relative to
# <datadir>
logfile = dummylog
# Optional pidfile, either relative to <datadir> or absolute
pidfile = /tmp/foam-hwtest.pid

### Devices begin here

simcam.type = dev.cam.SimulCam

simcam-seeing.type = dev.simseeing
simcam-seeing.wf_type = file
simcam-seeing.wf_file = ../data/wavefront.fits

# EOF
