# Config file for FOAM control software

### General configuration

# Prefix for this specific setup
prefix = hwtest
listenip = 0.0.0.0
listenport = 1025
use_syslog = false
# Optional syslog prefix
syslog_prepend = foam
# Use this as output directory, either a relative or absolute path, leave 
# empty for default system entry
outdir = ./
# Optional logfile, "" for no logfile, either absolute path or relative to
# <outdir>
logfile = foam_fullsim.log

### Devices begin here

## Simcam device, simulates seeing, telescope, shwfs, ccd
simcam.type = dev.cam.simulcam
simcam.width = 512
simcam.height = 512
simcam.depth = 8
simcam.mlafac = 25
# SHWFS parameters
simcam-shwfs.type = dev.wfs.shwfs
simcam-shwfs.sisize = 32
simcam-shwfs.sipitch = 96
# Seeing parameters
# Crop file is rectangular, better test for x-y ambiguities.
simcam-seeing.type = dev.simseeing
simcam-seeing.wavefront_file = simdata/wavefront-crop.fits
simcam-seeing.seeingfac = 4
simcam-seeing.windspeed = 8
simcam-seeing.windtype = linear
simcam-seeing.cropsize = 512
# simcam wfc error source
## WFC device used as source of wavefront error
simcam-wfcerr.type = dev.wfc.simulwfc
simcam-wfcerr.actpos_file = simdata/simulwfc.csv
simcam-wfcerr.actsize = 0.1
simcam-wfcerr.actresx = 512
simcam-wfcerr.actresy = 512

## Simple WFC device
simwfc.type = dev.wfc.simulwfc
simwfc.actpos_file = simdata/simulwfc.csv
simwfc.actsize = 0.1
simwfc.actresx = 512
simwfc.actresy = 512


## Bare WFS device
simwfs.type = dev.wfs

## SHWFS parameters
simshwfs.type = dev.wfs.shwfs
simshwfs.sisize = 32
simshwfs.sipitch = 96

# EOF
