# Config file for FOAM control software
# Comments begin with hashes,
# variables must not contain spaces, as do the variables

WFS_COUNT = 1
WFC_COUNT = 2
WFC_NACT[0] = 2
WFC_NACT[1] = 37
WFC_NAME[0] = TT
WFC_NAME[1] = DM

WFS_DF[0] = ../config/ao_wfs0_dark.dat
WFS_FF[0] = ../config/ao_wfs0_ff.dat
WFS_SKY[0] = ../config/ao_wfs0_sky.dat
WFS_PINHOLE[0] = ../config/ao_wfs0_pinhole
WFS_INFL[0] = ../config/ao_wfs0_infl
WFS_NAME[0] = SH-WFS
WFS_RES[0] = {256,256}
WFS_CELLS[0] = {8,8}

CS_LISTEN_IP = 0.0.0.0
CS_LISTEN_PORT = 10000

CS_INFOFILE = ../config/infolog
CS_DEBUGFILE = ../config/debuglog
CS_ERRFILE = ../config/errlog

# EOF
